<!DOCTYPE html>
<html>
  <head>
    <title>Elvis Images</title>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="js/urlparser.js"></script>
    <script src="js/scaler.js"></script>
    <script src="js/magicplayer.js"></script>
    <script src="js/colourwheel.js"></script>
    <script src="js/elvis.js"></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
  <% content %>
  </body>
</html>
